<%- include('header') -%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="font-weight-bold">Thông tin đơn hàng</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3 class="font-weight-bold">Thông tin đặt hàng</h3>
              <p class="row"><strong class="font-weight-bold">ID Đơn hàng:</strong> &nbsp;&nbsp;<%= order._id %></p>
              <p class="row">
                <strong class="font-weight-bold">Thời gian đặt hàng:</strong> &nbsp;&nbsp;<%= order.timeOrder %>
              </p>
              <div class="form-group">
                <label for="statusSelect">Trạng thái đơn hàng:</label>
                <select class="form-control" id="statusSelect">
                  <option value="pending" <%= order.status === 'pending' ? 'selected' : '' %>>Pending</option>
                  <option value="processing" <%= order.status === 'processing' ? 'selected' : '' %>>Processing</option>
                  <option value="completed" <%= order.status === 'completed' ? 'selected' : '' %>>Completed</option>
                  <option value="cancelled" <%= order.status === 'cancelled' ? 'selected' : '' %>>Cancelled</option>
                </select>
              </div>

              <p class="row"><strong class="font-weight-bold">Trạng thái:</strong> &nbsp;&nbsp;<%= order.status %></p>
              <!-- <div class="modal-body">
                <p id="confirmTime" class="d-none">Thời gian xác nhận đơn hàng: <%= order.confirmTime %></p>
                <p id="cancelTime" class="d-none">Thời gian huỷ đơn hàng: <%= order.cancelTime %></p>
                <p id="deliveryTime" class="d-none">Thời gian giao xong: <%= order.deliveryTime %></p>
                <div id="timeInfo">
                  
                </div>
              </div> -->
              
              
            
            </div>
            <div class="col-md-6">
              <h3 class="font-weight-bold">Thông tin Giao Hàng</h3>
              <p class="row"><strong class="font-weight-bold">Địa chỉ:</strong>&nbsp;&nbsp; <%= order.address %></p>
              <p class="row"><strong class="font-weight-bold">Tên người dùng:</strong>&nbsp;&nbsp; <%= user.name %></p>
              <p class="row"><strong class="font-weight-bold">Số điện thoại:</strong>&nbsp;&nbsp; <%= order.phone %></p>
              <p class="row"><strong class="font-weight-bold">Tổng tiền:</strong>&nbsp;&nbsp; <%= order.totalPrice %></p>
              <p class="row">
                <strong class="font-weight-bold">Phương thức thanh toán:</strong>&nbsp;&nbsp; <%= order.paymentMethods %>
              </p>
              <p class="row">
                <strong class="font-weight-bold">Phương thức giao hàng:</strong>&nbsp;&nbsp; <%= order.shippingMethod %>
              </p>
            </div>
          </div>
          <hr />
          <h3 class="font-weight-bold">Thông tin sản phẩm</h3>
          <% order.listProduct.forEach(product => { %>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="<%= product.imageDefault %>"
                  class="card-img"
                  alt="Product image"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="row"><strong class="font-weight-bold">ID Sản phẩm:</strong>&nbsp;&nbsp; <%= product.idProduct %>
                  </p>
                  <p class="row"><strong class="font-weight-bold">Tên Sản phẩm :</strong>&nbsp;&nbsp;<%= product.name %></p>
                  
                  <p class="row">
                    <strong class="font-weight-bold">Giá Sản phẩm:</strong> &nbsp;&nbsp;<%= product.price %> VNĐ
                  </p>
                  <p class="row">
                    <strong class="font-weight-bold">Size Sản phẩm:</strong> &nbsp;&nbsp;<%= product.size %>
                  </p>
                  <p class="row">
                    <strong class="font-weight-bold">Số Lượng Sản phẩm:</strong>&nbsp;&nbsp; <%= product.quantity %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Xác nhận thay đổi trạng thái đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn thay đổi trạng thái của đơn hàng?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
        <button id="confirmStatusBtn" type="button" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#statusSelect").change(function () {
      $("#confirmModal").modal("show");
    });

    $("#confirmStatusBtn").click(function () {
      var newStatus = $("#statusSelect").val();
      $.ajax({
        url: "/<%= order._id %>/update-status",
        type: "POST",
        data: { status: newStatus },
        success: function (response) {
          showAlert("success", "Trạng thái đơn hàng đã được cập nhật thành công!");
          $("#confirmModal").modal("hide");
        },
        error: function (err) {
          console.error("Lỗi khi cập nhật trạng thái đơn hàng:", err);
          showAlert("error", "Đã xảy ra lỗi khi cập nhật trạng thái đơn hàng");
          $("#confirmModal").modal("hide");
        },
      });
    });

    function showAlert(type, message) {
      const alertClass = type === "success" ? "alert-success" : "alert-danger";
      const alert = $(
        '<div class="alert ' +
          alertClass +
          '" role="alert">' +
          message +
          "</div>"
      );
      $("body").append(alert);
      setTimeout(function () {
        $(alert).remove();
      }, 5000);
    }
  });
  // $(document).ready(function () {
  //   $("#statusSelect").change(function () {
  //     // Lấy giá trị của trạng thái đơn hàng được chọn
  //     var status = $(this).val();
  //     // Ẩn tất cả các mục thời gian trước khi hiển thị lại
  //     $(".modal-body p").addClass("d-none");
  //     // Hiển thị mục thời gian tương ứng với trạng thái đơn hàng được chọn
  //     switch (status) {
  //       case 'pending':
  //         $("#timeInfo").empty(); // Xóa bỏ các thông tin thời gian hiện có
  //         break;
  //       case 'trading':
  //         $("#timeInfo").html($("#confirmTime").html());
  //         break;
  //       case 'delivered':
  //         $("#timeInfo").html($("#deliveryTime").html());
  //         break;
  //       case 'active':
  //         // Thêm code xử lý cho trạng thái "active" ở đây
  //         break;
  //       case 'deactive':
  //         // Thêm code xử lý cho trạng thái "deactive" ở đây
  //         break;
  //     }
  //     // Hiển thị modal
  //     $("#confirmModal").modal("show");
  //   });
  // });
</script>

<%- include('footer') -%>
