<%- include('header') -%>

<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Consignee Name</th>
          <th scope="col">Admin</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.consigneeName %></td>
          <td><%= user.isAdmin ? 'Yes' : 'No' %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="page-footer">
  <p>&copy; <%= new Date().getFullYear() %> Your Company</p>
</div> -->

<%- include('footer') -%>
